.listingSec {
  flex-basis: 70%;
}
.heading {
  width: 100%;
  justify-content: space-between;
}
.heading h1 {
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
}
.heading button {
  border: 1px solid transparent;
  font-weight: 500;
  background: none;
  color: rgb(179, 179, 179);
  &:hover {
    color: rgb(92, 153, 2);
    border: 1px solid rgb(92, 153, 2);
    background: rgb(243, 255, 225);
  }
}
.secContainer {
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.singleItem {
  position: relative;
  width: 150px;
  height: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  background: rgb(214, 214, 214);
  &:hover {
    background: rgb(209, 234, 171);
    box-shadow: 0 2px rgb(116, 116, 116);
  }
}
.singleItem img {
  max-width: 100px;
  max-height: 100px;
}
.singleItem .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(77, 129, 0);
}
.singleItem h3 {
  font-size: 1.3rem;
  color: black;

  position: relative;
}
.seller {
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
}
.topSellers.heading {
  padding: 1rem 0;
}
.topSellers.heading.btn {
  padding: 0.5rem 1rem;
}
.card {
  padding: 1rem;
  border-radius: 1rem;
  background: white;
  gap: 1.5rem;
  box-shadow: 0 2px 4px rgb(116, 116, 116);
  position: relative;
  top: 1rem;
}
.users {
  padding-left: 1rem;
  border-right: 2px solid gray;
  padding: 1rem;
}
.users img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(116, 116, 116);
  transition: 0.5s ease;

  &:hover {
    transform: translateY(-10px);
  }
}
.cardText span {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.5rem;
}
.cardText small {
  color: black;
  font-weight: 400;
}
.cardText small .date {
  margin-left: 1rem;
}
.cardText {
  margin-bottom: -2rem;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>media */
@media screen and (max-width: 990px) {
  .listingSec {
    .seller {
      .card {
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 918px) {
  .listingSec {
    .seller {
      .card {
        flex-direction: column;
      }
    }
  }
}
