.sideBar {
  background: rgb(255, 255, 255);
  box-shadow: 1px 0px 4px rgb(156, 156, 156);
  width: 18%;
  height: 100%;
  gap: 3rem;
  overflow: auto;
}
.logoDiv {
  margin-left: 0.5rem;
  cursor: pointer;
  bottom: 1rem;
  position: relative;
}
.logoDiv img {
  max-width: 80px;
  margin-right: 0.5rem;
}

.logoDiv h2 {
  font-size: 2rem;
  position: relative;
  top: 1.5rem;
}
.logoDiv h2 {
  color: rgb(97, 161, 0);
}
.menuDiv {
  position: relative;
  bottom: 3rem;
}
.settingDiv {
  position: relative;
  bottom: 7rem;
}
.menuDiv,
.settingDiv,
.divTitle {
  font-size: 1.4rem;
  color: black;
  padding: 0 0.5rem 0.5rem;
}
.divTitle {
  position: relative;
  left: 1rem;
}
.listItem {
  padding: 0.2rem 1.5rem;
  width: 100%;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    height: 00%;
    left: 0;
    width: 5px;
    bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(94, 157, 0);
  }
  &:hover::before {
    height: 100%;
    transition: 0.3s ease;
  }
}
.menuList {
  position: relative;
  right: 3rem;
}
.menuLink {
  color: rgb(197, 197, 197);
  font-weight: 500;
  &:hover {
    color: rgb(111, 185, 0);
    transition: 0;
  }
}

.icon {
  margin-right: 0.5rem;
}
.sideBarCard {
  width: 95%;
  padding: 0.4rem;
  text-align: center;
  position: relative;
  bottom: 5rem;
}
.sideBarCard .icon {
  position: absolute;
  background-color: rgb(180, 230, 106);
  border: 10px solid white;
  font-size: 3rem;
  border-radius: 50%;
  bottom: 15rem;
  right: 47%;
  transform: translate(50%);
  z-index: 1000;
}
.cardContent {
  position: relative;
  padding: 0.3rem;
  background-color: rgb(180, 230, 106);
  border-radius: 10px;
  overflow: hidden;
}
.cardContent h3 {
  font-size: 2rem;

  margin-top: 3rem;

  font-weight: 800;
}
.cardContent p {
  font-size: 1.3rem;
  color: rgb(142, 142, 142);
  padding-bottom: 1rem;
  font-weight: 500;
}
.cardContent .btn {
  position: relative;
  color: rgb(114, 114, 114);
  z-index: 1000;
}
.cardContent .btn:hover {
  background: rgb(205, 205, 205);
  opacity: 0.7;
}
.cardContent .circle1,
.circle2 {
  position: absolute;
  background-color: rgb(226, 226, 226);
  border-radius: 50%;
  opacity: 0.7;
}
.circle1 {
  height: 100px;
  width: 100px;
  top: -50px;
  left: -50;
}
.circle2 {
  height: 150px;
  width: 150px;
  top: 181px;
  left: 175px;
  z-index: 1;
}
::-webkit-scrollbar {
  display: none;
}
/* >>>>>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 820px) {
  .sideBar {
    padding-bottom: 2rem;
    .sideBarCard {
      display: none !important
    ;
    }
  }
}
@media screen and (max-width: 745px) {
  */ .sideBar {
    .logoDiv {
      text-align: center;
      margin: auto;
      padding: 1.5rem 0.5rem 0;
      img {
        max-width: 50px;
        margin: 0;
        border-radius: 10px;
        padding: 0.5rem;
      }
      h2 {
        display: none;
      }
    }
    .divTitle,
    .smalltext {
      display: none;
    }
  }
}
@media screen and (max-width: 390px) {
  .sideBar {
    .menuDiv,
    .settingDiv {
      .menuList {
        .listItem {
          padding: 0.2rem 0.5rem;
          .menuLink {
            justify-content: center;
          }
        }
      }
    }
  }
}
