@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap") * {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}
html {
  font-size: 90%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: 0.8rem 1rem;
  color: var(--textColor);
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.btn .icon {
  margin-left: 0.5rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}
.container {
  position: relative;
  width: 95vw;
  height: 65vw;
  align-items: center;
  display: flex;
  justify-content: center;
  background: rgb(230, 230, 230);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px rgb(185, 185, 185);
}
.smallText {
  font-size: 1.6rem;
}

/* >>>>>>>>>>>>>>>>>>>>media */

@media screen and (max-width: 990px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media screen and (max-width: 918px) {
  .heading {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
